<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label> Name
            <input type="text" name="name" class="form-control">
<!--            name "name" has to match Event object field name "name" for Spring to model bind and know how to assign properties for newEvent-->
        </label>
    </div>
    <div class="form-group">
        <label> Description
            <input type="text" name="description" class="form-control">
<!--            name "description matches Event field for model binding-->
        </label>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>